body{
    margin-left: 5px;
    margin-right: 5px;
    font-family: Arial;
}

.gallery{
    float: left;
    border: 1px solid #d7d5d5;
}

.describe{
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: black;
}

a{
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    [class*="col-"] {
        width: 100%;
    }
}